<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_findwise_xkom_model_GroupRateDetailedItem" modelAttribute="groupRateDetailedItem" path="/groupratedetaileditems" render="${empty dependencies}" z="dPDCtCJF4U5KXrrFMBE6bhQPBr4=">
        <field:input field="ordinal" id="c_com_findwise_xkom_model_GroupRateDetailedItem_ordinal" z="2f0+8qChuKYsxzNcOtLAig+hN2k="/>
        <field:select field="phrase" id="c_com_findwise_xkom_model_GroupRateDetailedItem_phrase" itemValue="id" items="${weightedphrases}" path="/weightedphrases" required="true" z="Sg4ynRY1DcdxKEhc3Aaq/Y0sIe4="/>
        <field:select field="document" id="c_com_findwise_xkom_model_GroupRateDetailedItem_document" itemValue="id" items="${documents}" path="/documents" required="true" z="wR5mMbLxd0oUN+IcQL4EPZmru+E="/>
        <field:select field="rate" id="c_com_findwise_xkom_model_GroupRateDetailedItem_rate" itemValue="id" items="${rates}" path="/rates" required="true" z="lHBvMv34B0blijIzyT2jhyXvoE8="/>
        <field:select field="groupRateItem" id="c_com_findwise_xkom_model_GroupRateDetailedItem_groupRateItem" itemValue="id" items="${grouprateitems}" path="/grouprateitems" required="true" z="5Dfq3IUXFOy03ve2uI/o+e3xU+o="/>
        <field:input field="rateValue" id="c_com_findwise_xkom_model_GroupRateDetailedItem_rateValue" z="Hy0W+g6IfahVgUuTAmuX/4zLNHY="/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_findwise_xkom_model_GroupRateDetailedItem" render="${not empty dependencies}" z="ZNMZ6VHrAtP/HOWov3YOGcVVLeE="/>
</div>
