<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<div xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:field="urn:jsptagdir:/WEB-INF/tags/jquery/form/fields" xmlns:form="urn:jsptagdir:/WEB-INF/tags/datatables" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:loupefield="urn:jsptagdir:/WEB-INF/tags/loupefield" xmlns:spring="http://www.springframework.org/tags" version="2.0">
    <jsp:directive.page contentType="text/html;charset=UTF-8"/>
    <jsp:output omit-xml-declaration="yes"/>
    <form:create id="fc_com_findwise_xkom_model_GroupTrial" modelAttribute="groupTrial" path="/grouptrials" render="${empty dependencies}" z="NK+4EEIc30J3EdncYJ+5mFRISmg=">
        <field:input field="name" id="c_com_findwise_xkom_model_GroupTrial_name" required="true" z="o6+JQuofTWLRbY1SAyAArW+PndY="/>
        <loupefield:loupe additionalFields="name" caption="name" controllerPath="grouptrials" field="phraseGroup" id="c_com_findwise_xkom_model_GroupTrial_phraseGroup" listPath="phrasegroups/list" mode="update" path="/phrasegroups" pkField="id" required="true" z="user-managed"/>
        <loupefield:loupe additionalFields="address" caption="address" controllerPath="grouptrials" field="server" id="c_com_findwise_xkom_model_GroupTrial_server" listPath="servers/list" mode="update" path="/servers" pkField="id" required="true" z="user-managed"/>
        <loupefield:loupe additionalFields="name,parameters" caption="name" controllerPath="grouptrials" field="algorithm" id="c_com_findwise_xkom_model_GroupTrial_algorithm" listPath="algorithms/list" mode="update" path="/algorithms" pkField="id" required="true" z="user-managed"/>
        <field:input field="cron" id="c_com_findwise_xkom_model_GroupTrial_cron" z="0RS0VzjvZQNe9gmx2e/REDp6hsI="/>
        <field:select field="webUser" id="c_com_findwise_xkom_model_GroupTrial_webUser" itemValue="id" items="${webusers}" path="/webusers" render="false" required="false" z="user-managed"/>
        <field:simple field="rates" id="c_com_findwise_xkom_model_GroupTrial_rates" messageCode="entity_reference_not_managed" messageCodeAttribute="Group Trial Rate" render="false" z="user-managed"/>
    </form:create>
    <form:dependency dependencies="${dependencies}" id="d_com_findwise_xkom_model_GroupTrial" render="${not empty dependencies}" z="HQNstSEartbK8ByQ8hJopqpm8JQ="/>
</div>
