<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<html xmlns:c="http://java.sun.com/jsp/jstl/core" xmlns:dialog="urn:jsptagdir:/WEB-INF/tags/bootstrap/dialog/modal" xmlns:jsp="http://java.sun.com/JSP/Page" xmlns:spring="http://www.springframework.org/tags" xmlns:tiles="http://tiles.apache.org/tags-tiles" xmlns:util="urn:jsptagdir:/WEB-INF/tags/util" xmlns:bootstrap-util="urn:jsptagdir:/WEB-INF/tags/bootstrap/util">

	<jsp:output doctype-root-element="HTML" doctype-system="about:legacy-compat"/>

	<jsp:directive.page contentType="text/html;charset=UTF-8"/>
	<jsp:directive.page pageEncoding="UTF-8"/>

	<head>
		<meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
		<meta content="IE=11" http-equiv="X-UA-Compatible"/>

		<!-- Bootstrap -->
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />

		<bootstrap-util:load-styles-bootstrap />
		<util:load-scripts/>
		<bootstrap-util:load-scripts-bootstrap />

		<spring:message code="application_name" htmlEscape="false" var="app_name"/>
		<title>
            <spring:message arguments="${app_name}" code="welcome_h3"/>
        </title>
	</head>

  	<body class="tundra spring">
	<header class="navbar navbar-inverse navbar-static-top">
		<div class="container">
      <tiles:insertAttribute ignore="true" name="header" />
			<tiles:insertAttribute ignore="true" name="menu" />
		</div>
	</header>

	<div class="container">
		<div id="main">
			<dialog:message-box />
			<tiles:insertAttribute name="body" />
		</div>
		<!-- /main -->
	</div>
	<!--/.container-->

	<!-- Footer
    	================================================== -->
	<footer class="bs-footer" role="contentinfo">
		<tiles:insertAttribute ignore="true" name="footer" />
	</footer>
	</body>
</html>
